.navbar {
    margin-bottom: 0;
}


.jumbotronbg {
	background-image: url("../img/bgjumbotron2.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	
	height: 375px;
	margin: -5px -10px -10px -5px;
	/*display: block;*/
}

.jumbotron {
	background-color: transparent;
	position: relative;
	left: 0;
	right: 0;
	margin-bottom: 50px;
	z-index: 9999;
}
.jumbotron h1, .jumbotron p {
	color: #fff;
}

.jbbgbox {
	overflow: hidden;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 1;
	height: 361px;
}